In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head()

  Category                                            Message
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...

In [8]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         3672   3531  Subject: calpine daily gas nomination\r\n>\r\n...
spam        1499   1462                                      Subject: \r\n


         freq
Category
ham        20
spam       16

In [9]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3     spam  Subject: photoshop , windows , office . cheap ...     1
4      ham  Subject: re : indian springs\r\nthis deal is t...     0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam, test_size = 0.25)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [12]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [13]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [14]:
# Thus it detected the second e-mail as a Spam

In [15]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9721577726218097

#### SkLearn Pipeline

In [17]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [19]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [20]:
clf.score(X_test, y_test)

0.9721577726218097

In [24]:
clf.predict(emails)

array([0, 1], dtype=int64)